.printComponent button{
    background-color: var(--main-color);
    padding: 7px 10px;
    color: #fff;
    font-family: "Almarai", sans-serif;
    border: none;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    box-shadow: var(--card-shadow);
    width: 120px;
}
.printComponent button:hover,
.printComponent button:focus,
.printComponent button:focus-visible{
    outline: none;
    box-shadow: var(--header-shadow);
}