.header{
    background-color: var(--card-bg);
    box-shadow: var(--header-shadow);
    padding: 20px;
    z-index: 3;
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .header{
        margin-left: 0px;
    }
}
.header .search {
    width: fit-content;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--main-transition);
    padding-left: 2px;
    padding-right: 2px;
}
.header .search:hover{
    border-radius: 20px;
    width: 170px;
}
.header .search input{
    padding: 5px 10px;
    border-radius: 20px;
    width: 100%;
}
.header .search:hover input{
    padding: 5px 30px 5px 10px;
    background-color: #ddd;
}
.header .search span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    transition: var(--main-transition);
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    color: #333;
}
.header .search:hover span{
    right: 10px;
    transition-delay: 0s;
    left: auto;
    transform: translate(0%, -50%);
}
.header .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.header .right .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.header .right .icons span{
    cursor: pointer;
    position: relative;
    color: #777;
    font-size: 18px;
}
.header .right .icons span span{
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    transform: translate(50%,-50%);
    font-weight: bold;
}
.header .right .icons span:first-of-type span{
    background-image: var(--danger-gradient);
}
.header .right .icons span:nth-of-type(2) span{
    background-image: var(--success-gradient);
}
.header .right .personalInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}
.header .right .personalInfo .img{
    width: 30px;
    overflow: hidden;
    border-radius: var(--main-border-radius);
}
.header .right .personalInfo svg{
    color: #777;
    font-size: 14px;
}
.header .right .notifications{
    color: #000;
    width: 350px;
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    border-radius: var(--main-border-radius);
    box-shadow: var(--header-shadow);
    display: none;
}
.header .right .notifications.shown{
    display: block;
}
.header .right .notifications .arrow{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    border: 10px solid red;
    border-color: transparent transparent var(--main-color) transparent;
}
.header .right .notifications h4{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}
.header .right .notifications ul{
    border-radius: 0px 0px var(--main-border-radius) var(--main-border-radius);
    overflow: hidden;
}
.header .right .notifications ul li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.header .right .notifications ul li > *{
}
.header .right .notifications .img{
    width: 40px;
    overflow: hidden;
    border-radius: var(--main-border-radius);
    padding-top: 5px;
}
.header .right .notifications ul li .text p{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .right .notifications ul li .text h6{
    color: #777;
}