.sidebar{
    background-color: var(--sidebar-bg);
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    padding: 20px;
    color: var(--side-text-color);
    transition: var(--main-transition);
}
.sidebar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 992px) {
    .sidebar{
        transform: translateX(-100%);
    }
}
.sidebar.shown{
    transform: translateX(0%);
    box-shadow: var(--header-shadow);
}