.translation{
    direction: rtl;
    padding-bottom: 100px;
}
.translation .translationStaticInfo{
    display: flex;
    flex-direction: row;
}
.translation .translationStaticInfo table{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border: 1px solid #ccc;
}
.translation .translationStaticInfo table:last-of-type{
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
}
.translation .translationStaticInfo table:first-of-type{
    border-left: 1px solid #aaa;
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) 0px;
}
@media (max-width: 992px) {
    .translation .translationStaticInfo{
        flex-direction: column;
    }
    .translation .translationStaticInfo table:last-of-type{
        border-radius: 0px 0px var(--main-border-radius) var(--main-border-radius);
        border-left: 1px solid #ccc;
    }
    .translation .translationStaticInfo table:first-of-type{
        border-radius: var(--main-border-radius) var(--main-border-radius) 0px 0px;
    }
}
@media (max-width: 1200px) {
    .translation .translationStaticInfo table{
        width: 80%;
    }
}
@media (max-width: 767px) {
    .translation .translationStaticInfo table{
        width: 100%;
        font-size: 14px;
    }
}
.translation .translationStaticInfo table *{
    text-align: center;
    direction: rtl;
    padding: 5px;
}
.translation .translationStaticInfo table thead{
    background-color: #ccc;
}
.translation .translationStaticInfo table .impRow{
    background-color: #eee;
}
.translation .translationStaticInfo table td:not(:last-child){
    border-left: 1px solid #ccc;
}
.translation > div:has(.translationList){
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    z-index: 3;
    right: 0;
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    transform: translateX(100%);
    transition: var(--main-transition);
    border: 1px solid var(--main-color);
}
.translation > div:has(.translationList.opened){
    transform: translateX(0%);
}
.translation > div:has(.translationList) .opener{
    position: absolute;
    width: 140px;
    height: 30px;
    background-color: var(--main-color);
    top: 10px;
    transform: translate(-100%,0%);
    left: 0;
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    box-shadow: var(--header-shadow);
    transition: var(--main-transition);
}
.translation > div:has(.translationList.opened) .opener{
    width: 30px;
}
@media (max-width: 767px) {
    .translation > div:has(.translationList){
        max-width: 98vw;
    }
    .translation > div:has(.translationList.opened) .opener{
        transform: translate(-0%,0%);
    }
    .translation .translationList table{
        font-size: 14px;
    }
}
.translation > div:has(.translationList) .opener svg{
    transition: var(--main-transition);
}
.translation > div:not(:last-child){
    margin-bottom: 20px;
}
.translation h3{
    text-align: center;
}
.translation .translationList table{
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: var(--main-border-radius);
    overflow: hidden;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.translation .translationList table thead{
    background-color: #ccc;
}
.translation .translationList table th,
.translation .translationList table td{
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.translation .translationList table td{
    cursor: pointer;
}
.translation .translationList table tr:hover{
    background-color: #eee;
}
.translation .translationProcess .processHeading{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: var(--main-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.translation .translationProcess .processHeading h4{
    background-color: #ccc;
    padding: 5px 20px;
}
.translation .translationProcess .processHeading span{
    text-align: center;
    /* background-color: red; */
    padding: 5px 20px;
    width: 100%;
}
.translation .translationProcess .processContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.translation .translationProcess .processContent > div{
    width: 100% !important;
}
@media (max-width: 1200px) {
    .translation .translationProcess{
        height: 250vh;
    }
    .translation .translationProcess .processContent{
        flex-direction: column;
    }
    .translation .translationProcess .processContent > div{
        width: 100% !important;
        height: 100vh;
    }
}
.translation .translationProcess .processContent > div h3{
    border: 1px solid #eee;
    border-radius: 0px 0px var(--main-border-radius) var(--main-border-radius);
    background-color: #efefef;
}
.translation .translationProcess .processContent .translatedSide{
    width: 50%;
   
}
.translation .translationProcess .processContent .assetsSide{
    width: 50%;
}
.translation .translationProcess .processContent .assetsSide ul{
    display: flex;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    align-items: center;
}
.translation .translationProcess .processContent .assetsSide ul li{
    flex: 1;
    text-align: center;
    padding: 5px;
    transition: var(--main-transition);
    cursor: pointer;
    font-weight: bold;
}
.translation .translationProcess .processContent .assetsSide ul li[status="active"]{
    background-color: var(--main-color);
    color: #fff;
}
.translation .translationProcess .processContent .assetsSide ul li:not([status="active"]):hover{
    background-color: #efefef;
}
.translation .translationProcess .processContent .assetsSide ul li:not(:last-child){
    border-left: 1px solid #ccc;
}
.translation .translationProcess .processContent .assetsSide .assets{
    height: 125vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 20px 5px #efefef inset;
    border-radius: var(--main-border-radius);
}
.translation .translationProcess .processContent .assetsSide .assets::-webkit-scrollbar{
    width: 10px;
    background-color: #eee;
}
.translation .translationProcess .processContent .assetsSide .assets::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.translation .translationProcess .processContent .assetsSide .assets .asset:not(:first-child){
    display: none;
}
.translation .translationProcess .translatedSide .tableWrapper{
    max-height: 125vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 20px 5px #efefef inset;
}
.translation .translationProcess .translatedSide .tableWrapper::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #ccc;
}
.translation .translationProcess .translatedSide .tableWrapper::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.translation .translationProcess .translatedSide table{
    width: 100%;
    font-size: 12px;
}
.translation .translationProcess .translatedSide table *{
    text-align: center;
    padding: 5px;
}
.translation .translationProcess .translatedSide table td:has(input){
    padding: 0;
}
.translation .translationProcess .translatedSide table input{
    width: 100%;
    font-size: 12px;
    border-radius: 0px;
}
.translation .translationProcess .translatedSide table thead{
    background-color: #ccc;
}
.translation .translationProcess .translatedSide table thead th{
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.translation .translationProcess .translatedSide table thead th.count{
    /* font-size: 14px; */
}
.translation .translationProcess .translatedSide table .impRow{
    background-color: #eee;
}
.translation .translationProcess .translatedSide table td:not(:last-child){
    border-left: 1px solid #ccc;
}
.translation .translationProcess .translatedSide table .impRow td{
    border-bottom: 1px solid #ccc;
    text-wrap: nowrap;
}
.translation .translationProcess .translatedSide form .formBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.translation .translationProcess .translatedSide form .formBtns input{
    cursor: pointer;
}
.translation .translationProcess .translatedSide form .formBtns input[type="submit"]{
    background-color: var(--main-color);
    color: #fff;
}