.billsList .content{
    padding-bottom: 100px;
}
.billsList .content{
    direction: rtl;
}
.billsList .content .tableWrapper .tableHeader .tableSettings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.billsList .content .tableWrapper .tableHeader .hideShowColsWrapper{
    position: relative;
}
.billsList .content .tableWrapper .tableHeader .hideShowColsOpener{
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100px;
    border-radius: var(--main-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.billsList .content .tableWrapper .tableHeader .hideShowCols{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--main-border-radius);
    border: 1px solid #ccc;
    padding: 10px;
    background-color: var(--card-bg);
    left: 0;
    width: 130px;
}
.billsList .content .tableWrapper .tableHeader .hideShowCols div{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.billsList .content .tableWrapper .tableHeader .hideShowCols div label{
    flex: 1;
    cursor: pointer;
    font-size: 14px;
}
.billsList .content .tableWrapper .tableHeader .hideShowCols input{
    accent-color: var(--main-color);
}
.billsList .content .tableWrapper .tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.billsList .content .tableWrapper table{
    width: 100%;
    border-radius: var(--main-border-radius);
    border: 1px solid #ccc;
}
.billsList .content .tableWrapper table * {
    text-align: center;
    padding: 8px;
}
.billsList .content .tableWrapper table thead{
    background-color: #ccc;
}
.billsList .content .tableWrapper table tr:hover{
    background-color: #eee;
}
.billsList .content .tableWrapper table tr td{
    border-top: 1px solid #ccc;
}
.billsList .content .tableWrapper .tableFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.billsList .content .tableWrapper .tableFooter > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.billsList .content .tableWrapper .tableFooter > div:first-child select{
    padding: 4px;
}
.billsList .content .tableWrapper .tableFooter > div:first-child p{
    font-size: 14px;
}
.billsList .content .tableWrapper .tableFooter > div:first-child p span{
    font-weight: bold;
}
.billsList .content .tableWrapper .tableFooter > div button{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #888;
    font-size: 14px;
    cursor: pointer;
}
.billsList .content .tableWrapper .tableFooter > div button[status="active"]{
    background-color: var(--main-color);
    color: #fff;
}
.billsList .content .tableWrapper .tableFooter > div button[id]{
    background-color: #ccc;
}