.invoiceList {
    padding-bottom: 100px;
}
.invoiceList .content{
    display: flex;
    gap: 30px;
}
.invoiceList .content .left{
    width: 75%;
    position: relative;
    padding-top: 30px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .invoiceList .content{
        flex-direction: column-reverse;
    }
    .invoiceList .content .left{
        width: 100%;
    }
}
.invoiceList .content .left .leftHeader{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 2;
    background-color: var(--card-bg);
}
.invoiceList .content .left .leftHeader ul{
    border: 2px solid var(--main-color);
    border-radius: var(--main-border-radius);
    display: flex;
    overflow: hidden;
}
.invoiceList .content .left .leftHeader ul li{
    transition: var(--main-transition);
    cursor: pointer;
    padding: 5px 20px;
}
.left > .trackingWrapper{
    display: none;
}
.invoiceList .content .left .leftHeader ul li[status="active"]{
    background-color: var(--main-color);
    color: #fff;
}
.invoiceList .content .left .leftHeader ul li:not(:last-child){
    border-right: 2px solid var(--main-color);
}
.invoiceList .content .left .leftHeader ul li:hover{
    background-color: var(--main-color);
    color: #fff;
}
.invoiceList .content .summary{
    flex: 1;
}
.invoiceList .content .tickets{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 20px;
}
.invoiceList .content .tracking > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.ticket{
    position: relative;
    border-top: 4px solid var(--main-color);
    border-radius: var(--main-border-radius);
}
.ticket:nth-child(1) > div,
.ticket:nth-child(2) > div{
    height: 270px;
}
.ticket:nth-child(3) > div,
.ticket:nth-child(4) > div{
    height: 180px;
}
.ticket .ticketContent{
    padding-top: 40px;
}
.ticket h4{
    font-size: 14px; 
    position: absolute; 
    top: -4px;
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 0px 0px var(--main-border-radius) var(--main-border-radius); 
    font-weight: bold;
    background-image: var(--primary-gradient);
    color: white;
    padding: 4px 12px;
}
.ticket .ticketContent .ticketList{
    place-content: center; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
    font-size: 14px;
}
.ticket .ticketContent .ticketList li{
    display: flex; 
    align-items: center; 
    /* gap: 5px;  */
    margin-bottom: 5px; 
    background-color: ; 
    border: 1px solid #ccc ; 
    /* padding: 5px 10px; */
    border-radius: var(--main-border-radius);
    font-size: 14px;
    width: calc((100% - 10px) / 2);
}
.ticket .ticketContent .ticketList li:has(.currency){
    position: relative;
    padding-left: 50px;
}
.ticket .ticketContent .ticketList li:has(.currency) span:not(.currency){
    /* font-size: 18px; */
}
.ticket .ticketContent .ticketList li.important{
    width: 100%;
}
.ticket .ticketContent .ticketList li h5{
    font-weight: normal;
    background-color: #eee;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 10px 10px;
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) 0px;
    text-wrap: nowrap;
}
.ticket .ticketContent .ticketList li span{
    font-size: 14px;
    font-weight: bold; 
    letter-spacing: 1px;
    /* padding: 5px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.ticket .ticketContent .ticketList li span.paidStatus{
    padding: 2px 10px;
    border-radius: var(--main-border-radius) 0px 0px var(--main-border-radius);
    color: #fff;
    height: 100%;
}
.ticket .progress{
    background-color: #ccc; 
    width: 90%; 
    margin: 40px auto 20px; 
    position: relative; 
    border-radius: 20px; 
    height: 10px;
    overflow: visible;
}
.ticket .progress .progressPercentage{
    position: absolute; 
    bottom: calc(100% + 8px); 
    left: 60%; 
    transform: translateX(-50%); 
    background-color: #01aaad; 
    padding: 2px 5px; 
    color: white; 
    border-radius: 4px;
    font-size: 12px;
}
.ticket .progress .progressPercentage span{
    position: absolute; 
    top: 98%; 
    left: 50%; 
    transform: translateX(-50%); 
    border: 8px solid #01aaad; 
    border-color: #01aaad transparent transparent transparent;
}
.ticket .progress .progressBar{
    background-color: #01aaad; 
    height: 100%; 
    width: 60%; 
    border-radius: inherit;
}
.ticket .currency{
    font-size: 12px !important; 
    position: absolute; 
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%);
    color: #888;
}
.ticket .ticketFooter{
    margin-top: 10px;
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.ticket .ticketFooter .eyeIcon{
    /* position: absolute; */
    background-image: var(--primary-gradient);
    color: #fff;
    padding: 5px 10px;
    border-radius: var(--main-border-radius);
    font-size: 14px;
}
.ticket .ticketFooter .due{
    /* width: fit-content; */
    font-size: 12px;
}
.ticket .ticketFooter .due strong{
    padding: 3px 5px;
    border-radius: var(--main-border-radius);
    background-image: var(--primary-gradient);
    color: #fff;
}
.left .chatWrapper .chat{
    background-color: var(--card-bg);
    border-radius: var(--main-border-radius);
}
.left .chatWrapper .chat .chatHeader{
    background-color: var(--main-color);
    padding: 10px 20px;
    color: #fff;
    border-radius: var(--main-border-radius) var(--main-border-radius) 0px 0px;
    position: relative;
    text-align: center;
    padding-top: 45px;
    box-shadow: var(--header-shadow);
}
.left .chatWrapper .chat .chatHeader .img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-30%);
    padding: 4px;
    background-color: var(--card-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left .chatWrapper .chat .chatHeader .img img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.left .chatWrapper .chat .chatHeader .img span{
    position: absolute;
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    background-color: #ffff00;
    background-color: #ccc;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
}
.left .chatWrapper .chat .chatBody{
    padding: 20px;   
    height: 400px;
    overflow-y: scroll;
}
.left .chatWrapper .chat .chatBody::-webkit-scrollbar{
    width: 10px;
    background-color: #ddd;
}
.left .chatWrapper .chat .chatBody::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.left .chatWrapper .chat .chatBody .message{
    margin-bottom: 10px;
    width: 100%;
}
.left .chatWrapper .chat .chatBody .message p{
    padding: 10px 20px;
    margin-bottom: 5px;
    text-align: right;
    max-width: 60%;
    width: fit-content;
    line-height: 1.4;
}
.left .chatWrapper .chat .chatBody .message[message-src="user"]{
    text-align: right;
}
.left .chatWrapper .chat .chatBody .message[message-src="client"] p{
    background-color: #ddd;
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) calc(var(--main-border-radius) + 10px);
}
.left .chatWrapper .chat .chatBody .message[message-src="user"] p{
    background-color: #ddd;
    border-radius: var(--main-border-radius) 0px calc(var(--main-border-radius) + 10px) var(--main-border-radius);
    background-color: var(--main-color);
    color: #fff;
    margin-left: auto;
    margin-right: 0px;
}
.left .chatWrapper .chat .chatBody .message span{
    color: #777;
    font-size: 14px;
}
@media (max-width: 768px) {
    .left .chatWrapper .chat .chatBody .message p{
        font-size: 14px;
        max-width: 80%;
    }
}
.left .chatWrapper .chat .chatForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
    box-shadow: var(--header-shadow);
    border-top: 1px solid var(--main-color);
    /* background-color: red; */
    direction: rtl;
}
.left .chatWrapper .chat .chatForm .inputWrapper{
    width: 70%;
    display: flex;
    align-items: center;
}
.left .chatWrapper .chat .chatForm .inputWrapper textarea{
    width: 100%;
    resize: none;
    text-align: right;
    height: 40px;
    max-height: 200px;
    direction: rtl;
    place-content: center;
}
.left .chatWrapper .chat .chatForm button{
    border: none;
    color: #fff;
    background-color: var(--main-color);
    padding: 5px 8px;
    border-radius: var(--main-border-radius);
    font-size: 20px;   
    cursor: pointer;
}
.left .chatWrapper .chat .chatForm button svg{
    transform: rotateY(180deg);
}