.add-goods{
    padding-bottom: 100px;
}
.add-goods .bill-number{
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: var(--main-border-radius);
    width: 70%;
}
.add-goods .more-drivers{
    display: none;
}
.add-goods .more-drivers > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add-goods .more-drivers > div label{
    color: var(--text-color);
    font-size: 14px;
    width: 100px;
}
.add-goods .selector-element:has(#driver-name-another:checked) .more-drivers{
    display: flex;
}
@media (max-width: 768px) {
    .add-goods .selector-element:has(#driver-name-another:checked) .more-drivers{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .add-goods .more-drivers > div label{
        width: 130px;
    }
}
.add-goods .goods-imgs h4{
    margin-bottom: 10px;
}
.add-goods .goods-imgs .imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.add-goods .goods-imgs .img{
    overflow: hidden;
    border-radius: var(--main-border-radius);
    background-color: #eee;
}
.add-goods .goods-imgs .img img{
    /* width: 150px; */
}
.add-goods .goods-imgs .img h4{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}